/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 *
 * “Add things like base typography styles [or] opinionated global resets.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-base-styles
 */

/**
 * This uses the background and foreground colors declared in the
 * `theme.json` file and is applied both to the frontend and in the block
 * editor.
*/
body {
	font-family: "Poppins", sans-serif;
}

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
			display: none;
	}
 /* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
			-ms-overflow-style: none;  /* IE and Edge */
			scrollbar-width: none;  /* Firefox */
}
}

.tab.active {
	border-bottom: 2px solid #111111;
}

.content {
	margin-top: 40px;
}

.content div {
	display: none;
}

.content .active {
	display: block;
}